[Unit]
Description=backend_reservenow Service
After=network.target

[Service]
Type=simple
User=dev
Group=dev
WorkingDirectory=/home/dev/coding/ReserveNow/backend
ExecStartPre=/bin/mkdir -p /var/run/backend
ExecStartPre=/bin/chown dev:dev /var/run/backend
ExecStart=/usr/bin/node dist/index.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target