[Unit]
Description=database Service
After=network.target

[Service]
Type=simple
User=dev
Group=dev
WorkingDirectory=/home/dev/coding/book/database
ExecStartPre=/bin/mkdir -p /var/run/database
ExecStartPre=/bin/chown dev:dev /var/run/database
ExecStart=/usr/bin/node ?
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target